.App-chat {
  display: flex;
  flex-direction: row;
}

.App-menu {
  width: 100px;
  min-height: 100vh;
  max-height: none;
  background-color: #a0e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  height: 60px;
  width: 60px;
  margin: 10px;
  border-radius: 50px;
}

.img-messager {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.img-listphone {
  height: 30px;
  width: 30px;
}

.img-to-do {
  height: 30px;
  width: 30px;
}

.img-setting {
  height: 30px;
  width: 30px;
}

.group-logo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 70vh;
}
.btn-img {
  height: 80px;
  width: 100px;
  background-color: #a0e9ff;
  border: none;
}

.btn-img:hover {
  background-color: #6edbfc63;
}

.frame-chat {
  width: 100%;
}

.barr-chat {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: #a4e8fd4f;
  padding: 10px;
  align-items: center;
}

.sreen-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.ren-chat {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chat-send-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-chat {
  height: 30px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 14px;
  margin-left: 20px;
  background-color: #eee8e8b7;
  border-radius: 5px;
}

.img-send-chat {
  height: 30px;
  width: 30px;
}

.img-upload{
  height: 30px;
  width: 30px;
}

.btn-send{
  border: none;
  background-color: #fff;
  margin-left: 10px;
}

.btn-chat-upload-file{
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.btn-chat-upload-img{
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 20px;
}

.btn-img.selected {
  background-color: #6edbfc; /* Màu nền khi người dùng được chọn */
}
