.App-chat {
  display: flex;
  flex-direction: row;
}

.App-menu {
  width: 100px;
  min-height: 100vh;
  max-height: none;
  background-color: #a0e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  height: 60px;
  width: 60px;
  margin: 10px;
  border-radius: 50px;
}

.img-messager {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.img-listphone {
  height: 30px;
  width: 30px;
}

.img-to-do {
  height: 30px;
  width: 30px;
}

.img-setting {
  height: 30px;
  width: 30px;
}

.group-logo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 70vh;
}
.btn-img {
  height: 80px;
  width: 100px;
  background-color: #a0e9ff;
  border: none;
}

.btn-img:hover {
  background-color: #6edbfc63;
}

/*-------------------Khung chat*/

.frame-chat {
  width: 100%;
}

.message-list{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  height: 80vh;
  background-color: #e2e2e2b6;
  border-radius: 5px;
}

.barr-chat {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #a4e8fd4f;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.barr-chat-1 {
  display: flex;
  flex-direction: row;
  height: 80px;
  padding: 10px;
  align-items: center;
}

.sreen-chat {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.ren-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sender-chat {
  display: flex;
  width: 320px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.set-senchat {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.text-chat {
  height: "auto";
  width: 250px;
  background-color: #6edbfc;
  border-radius: 10px;
  padding: 10px;
}

.resender-chat {
  display: flex;
  width: 320px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.set-resenchat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.img-logo-chatsend {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

/* Input chat */
.chat-send-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.modalOverlay-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}


.input-chat {
  height: 30px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 14px;
  margin-left: 20px;
  background-color: #eee8e8b7;
  border-radius: 5px;
}

.img-send-chat {
  height: 30px;
  width: 30px;
}

.img-upload {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.btn-send {
  border: none;
  background-color: #fff;
  margin-left: 10px;
}

.btn-chat-upload-file {
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.btn-chat-upload-img {
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 20px;
}

.btn-img.selected {
  background-color: #6edbfc; /* Màu nền khi người dùng được chọn */
}

/*Call _ call video*/

.call {
  display: flex;
  flex-direction: row;
}

.btn-chatcall {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #6edbfc00;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.img-bar-chatcall {
  height: 25px;
  width: 25px;
}

.modal-fr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  position: absolute;
}
