.Chat-list {
  background-color: antiquewhite;
  width: 330px;
}

.Border-list {
  overflow-y: scroll;
  height: 100vh;
  min-height: 100vh;
}

.btn-chat {
  border: none;
  background-color: #ffff;
  height: 70px;
  width: 315px;
  display: flex;
  flex-direction: column;

}

.btn-chat:hover {
  background-color: #e2d9d977;
}

.ul-set {
  list-style: none;
  margin-left: -40px;
}

.li-set {
    margin-top: -15px;

}
