.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #a7efef;
    justify-content: center;
    align-items: center;
}


.title-bar {
    height: 500px;
    width: 600px;
    background-color: rgba(128, 128, 128, 0.479);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.in {
    height: 30px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    padding-left: 10px;
}

.group-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
}