.container-forgotpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-fg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  border: 1px solid #ccc;
  background-color: rgba(189, 185, 185, 0.61);
  border-radius: 10px;
  padding: 20px;
}

.div-fg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.l-fg {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.in-fg {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.in-fg-pass {
  width: 280px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  padding-right: 50px;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.otp{
  width: 200px;
}

.btn-fg {
  width: 250px;
  height: 40px;
  background-color: rgb(98, 143, 201);
  color: #ffff;
  border: none;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-fg:hover {
  background-color: rgb(22, 100, 201);
  width: 260px;
}

.group-pass-fg {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.btn-pass-fg {
  height: 31px;
  width: 31px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(253, 253, 253, 0);
  position: absolute;
  margin-left: 285px;
  cursor: pointer;
  margin-top: 12px;
}

.logo-unseen-fg {
  height: 25px;
  width: 25px;
}

.group-otp-fg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-otp-fg {
  height: 50px;
  width: 90px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  background-color: rgb(29, 128, 209);
  cursor: pointer;
  margin-top: 20px;
  color:#ffff;
}



