.infor-fr {
  width: 100%;
  overflow-y: scroll;
  height: 95vh;
}

.bg-ig-user-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.img-infor-background {
  height: 250px;
  width: 70%;
  border-radius: 10px;
}

.img-infor-user {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-top: -80px;
  border: 1px solid black;
}

.infor-inf{
  align-items: center;
  margin: 20px;
  margin-left: 25%;
}

.txt-inf{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spa-inf{
  margin-left: 20px;
}

.gt{
  margin-left: 30px;
}

.mail{
  margin-left: 50px;
}

.text-infor {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}

.edit-infor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-edit-infor{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn-edit-infor:hover{
  background-color: antiquewhite;
}

.story-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* silder img*/

.slider-set-fr {
  margin-top: 30px;
  width: 100%;
}

.slider-container {
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  margin-left: 30%;
}

.slider-image {
  width: 50%;
  height: 500px;
  display: flex;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
  margin: 20px;
  border-radius: 10px
  
}

.slider-image.active {
  opacity: 1;
}

.btn-fr-infor{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 98%;
}

.btn-slider {
  transform: translateY(-50%);
  background-color: #fcfeff;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -500px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.ing-next-back{
 height: 50px;
 width: 50px;
}

.btn-slider:hover {
  background-color: #71add4;
  opacity: 1;
}

.modal-setup-infor{
  height: 600px;
  width: 600px;
}